.logo {
  overflow-x: hidden;
  overflow-y: hidden;

  margin-left: 20%;
  margin-right: 20%;

  text-align: center;

  font-size: xx-large;

  background-color: rgba(0, 0, 0, 0.9);

  backdrop-filter: blur(10px);
}

.navigation {
  overflow-x: hidden;
  overflow-y: hidden;

  margin-left: 20%;
  margin-right: 20%;

  background-color: rgba(0, 0, 0, 0.8);

  display: flex;

  backdrop-filter: blur(10px);
}

.navigation a {
  color: #f2f2f2;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  height: 20px;

  border-color: rgba(0, 0, 0, 0.8);
  border-width: 5px;
  border-style: groove;

  text-align: center;
  text-decoration: none;

  float: left;

  flex-grow: 1;
}

.main {
  overflow-x: hidden;
  overflow-y: hidden;

  margin-left: 20%;
  margin-right: 20%;

  padding-left: 5%;
  padding-right: 5%;

  backdrop-filter: blur(10px);

  background-color: rgba(0, 0, 0, 0.7);
}

.footer {
  overflow-x: hidden;
  overflow-y: hidden;

  margin-left: 20%;
  margin-right: 20%;

  padding-left: 5%;
  padding-right: 5%;

  background-color: rgba(0, 0, 0, 0.9);
  color: gray;

  backdrop-filter: blur(10px);
}

a {
  color: #f2f2f2;
  text-decoration: none;
}

a:hover {
  color: aqua;
}

body {
  margin-top: 2%;
  margin-bottom: 2%;

  font-family: Comic Sans MS, Comic Sans;

  background-image: url("./index.jpg");

  color: #f2f2f2;
}
