extend _base

block consts
  - const title = "Улитка Маркус"
  - const main = "../stylesheets/main.css"
  - const backgroundImage = "../background-images/default.jpg"
  - const home = "./home.html"
  - const albums = "./albums/index.html"
  - const artists = "./artists/index.html"
  - const songs = "./songs/index.html"

block section
  p Дом
