extend ../_base

block consts
  - const title = "Улитка Маркус | Артисты"
  - const main = "../../stylesheets/main.css"
  - const backgroundImage = "../../background-images/artists.jpg"
  - const home = "../home.html"
  - const albums = "../albums/index.html"
  - const artists = "./index.html"
  - const songs = "../songs/index.html"

block section
  p Исполнители
