doctype html
html(lang='en')
  head 
    block consts
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title=title
    link(rel='stylesheet', type='text/css', href='main.css')
  body
    include partials/header
    include partials/nav
    section
      block section
    include partials/footer
