extend ../_base

block consts
  - const title = "Улитка Маркус | Песни"
  - const main = "../../stylesheets/main.css"
  - const backgroundImage = "../../background-images/songs.jpg"
  - const home = "../home.html"
  - const albums = "../albums/index.html"
  - const artists = "../artists/index.html"
  - const songs = "./index.html"

block section
  p Песни
