a {
  color: #f2f2f2;
  text-decoration: none;
}

a:hover {
  color: aqua;
}

html {
  background-image: url(../images/background/default.jpg);
}

body {
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: Comic Sans MS, Comic Sans;
  color: #f2f2f2;
}

footer,
main,
navigation,
header {
  overflow-x: hidden;
  overflow-y: hidden;
}

footer,
main,
navigation,
header {
  margin-left: 20%;
  margin-right: 20%;
}

footer,
main {
  padding-left: 5%;
  padding-right: 5%;
}

header {
  text-align: center;
  font-size: 250%;
  text-shadow: #000 1px 0 3.5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

navigation {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
}

navigation a {
  color: #f2f2f2;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 20px;
  border-color: rgba(0, 0, 0, 0.8);
  border-width: 5px;
  border-style: groove;
  text-align: center;
  text-decoration: none;
  float: left;
  flex-grow: 1;
}

navigation a:hover {
  color: aqua;
}

main {
  background-color: rgba(0, 0, 0, 0.7);
}

footer {
  background-color: rgba(0, 0, 0, 0.9);
  color: gray;
}
