extend ../_base

block consts
  - const title = "Улитка Маркус | Альбомы"
  - const main = "../../stylesheets/main.css"
  - const backgroundImage = "../../background-images/albums.jpg"
  - const home = "../home.html"
  - const albums = "./index.html"
  - const artists = "../artists/index.html"
  - const songs = "../songs/index.html"

block section
  p Альбомы
