a {
  color: #f2f2f2;
  text-decoration: none;
  :hover {
    color: #00ffff;
  }
}

body {
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: Comic Sans MS, Comic Sans;
  background-image: url("./index.jpg");
  color: #f2f2f2;
}
