@import "_base";

%positioning {
  overflow-x: hidden;
  overflow-y: hidden;
}

%outer-positioning {
  margin-left: 20%;
  margin-right: 20%;
}

%inner-positioning {
  padding-left: 5%;
  padding-right: 5%;
}

%blur {
  backdrop-filter: blur(10px);
}

.logo {
  @extend %positioning;
  @extend %outer-positioning;
  @extend %blur;
  text-align: center;
  font-size: xx-large;
  background-color: rgba(0, 0, 0, 0.9);
}

.navigation {
  @extend %positioning;
  @extend %outer-positioning;
  @extend %blur;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  a {
    color: #f2f2f2;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 20px;
    border-color: rgba(0, 0, 0, 0.8);
    border-width: 5px;
    border-style: groove;
    text-align: center;
    text-decoration: none;
    float: left;
    flex-grow: 1;
  }
  a:hover {
    color: #00ffff;
  }
}

.main {
  @extend %positioning;
  @extend %outer-positioning;
  @extend %inner-positioning;
  @extend %blur;
  background-color: rgba(0, 0, 0, 0.7);
}

.footer {
  @extend %positioning;
  @extend %outer-positioning;
  @extend %inner-positioning;
  @extend %blur;
  background-color: rgba(0, 0, 0, 0.9);
  color: gray;
}
