@import "_base";

$background-color-r: 0;
$background-color-g: 0;
$background-color-b: 0;

%positioning {
  overflow-x: hidden;
  overflow-y: hidden;
}

%outer-positioning {
  margin-left: 20%;
  margin-right: 20%;
}

%inner-positioning {
  padding-left: 5%;
  padding-right: 5%;
}

header {
  @extend %positioning;
  @extend %outer-positioning;
  text-align: center;
  font-size: 250%;
  text-shadow: rgb(
      $background-color-r,
      $background-color-g,
      $background-color-b
    )
    1px 0 3.5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

navigation {
  @extend %positioning;
  @extend %outer-positioning;
  background-color: rgba(
    $background-color-r,
    $background-color-g,
    $background-color-b,
    0.8
  );
  display: flex;
  a {
    color: #f2f2f2;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 20px;
    border-color: rgba(
      $background-color-r,
      $background-color-g,
      $background-color-b,
      0.8
    );
    border-width: 5px;
    border-style: groove;
    text-align: center;
    text-decoration: none;
    float: left;
    flex-grow: 1;
  }
  a:hover {
    color: #00ffff;
  }
}

main {
  @extend %positioning;
  @extend %outer-positioning;
  @extend %inner-positioning;
  background-color: rgba(
    $background-color-r,
    $background-color-g,
    $background-color-b,
    0.7
  );
}

footer {
  @extend %positioning;
  @extend %outer-positioning;
  @extend %inner-positioning;
  background-color: rgba(
    $background-color-r,
    $background-color-g,
    $background-color-b,
    0.9
  );
  color: gray;
}
